localhost:
  host: localhost
  user: salt-dev
  passwd: **PASSWORD**
  tty: True
  sudo: True
  minion_opts:
    grains:
      roles:
        - salt-dev
      tags:
        env: dev
        dc: local
        role: salt-dev
